body {
    background: #C0C0C0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a:link {
    text-decoration: none;
}

nav {
    border-bottom: 10px solid #0B79FF;
}

nav h1 {
    text-align: center;
}

.navbar {
    justify-content: center; 
}

.titleText {
    font-family: 'Questrial', sans-serif;
}

.aboutMe-container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.greeting {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.bitmoji {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutMeTextWrap {
    margin-top: 20px;
    color: white;
}

.row .col-lg-12 .col-md-12 .col-sm-12 .col-xs-12 {
    padding-right: 0px;
    margin-right: 0px;
}

/* ----------------------------------------------------Images--------------------------------------------------- */

.portfolio-container {
    margin-bottom: 80px;
}

.imgContainer {
    margin-bottom: 30px;
    border: .1px solid black;
    border-radius: 10px;
}

.portfolioLinkButton {
    background: none;
    border: .5px solid black;
    border-radius: 20px;
    width: 100px;
    text-decoration: none;
    padding: 5px;
    color: white;
}

.portfolioLinkButton:hover {
    transition: 1s ease;
    background-color: #666666;
}

.picDescription {
    margin-bottom: 35px;
    font-family: 'Ranga', cursive;
    font-size: 1.5rem;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
    border-radius: 10px;
}

.middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}



.imgContainer:hover .image {
    opacity: 0;
    background-color: blue;
    transform: scale(.1);
    transition: 1s ease;
}

.imgContainer:hover .middle {
    opacity: 1;
}

.imgContainer:hover {
    background-color: #0B79FF;
}

/* ----------------------------------------------------Github--------------------------------------------------- */

.github {
    background-color: #0B79FF;
    border: .5px solid black;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    color: white;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.github:hover {
    transition: 1s ease;
    background-color: #666666;
    color: white;
}

/* ----------------------------------------------------Startups------------------------------------------------- */

.startup-container {
    background-color: white;
    height: 100px;
    margin-bottom: 80px;
    border-radius: 10px;    
}

.startUpText {
    text-align: center;
}
/* ----------------------------------------------------Skills--------------------------------------------------- */

.skillHead {
    text-align: center;
}

.skills-container {
    margin-bottom: 60px;
    padding-bottom: 15px;
}

.skillSize {
    height: 100px;
}

.skillSize:hover {
    transform: translateY(-10px);
    animation: all .2s;
}

.skills-container {
    background: white;
    border-radius: 10px;
}

/* ----------------------------------------------------Footer--------------------------------------------------- */

.footerAll {
    background-color: white;
    height: 118px;
    border-top: 10px solid #0B79FF;
    text-align: center;
    color: black;
    line-height: 76px;
    margin-top: -45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;    
}

h6 {
    font-size: 13px;
}

/* --------------------------------------------------Break Points------------------------------------------------- */
/* @media (max-width: 575.98px) { 
    body {
        background: grey;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
}

@media (max-width: 767.98px) { 
    body {
        background: grey;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
}

@media (max-width: 991.98px) {
    body {
        background: grey;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
}

@media (max-width: 1199.98px) {
    body {
        background: grey;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
} */